body {
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  width: 100%;
  margin: auto;
}

header {
  background-image: linear-gradient(rgba(84, 76, 0, 0.3), rgba(84, 76, 0, 0.3)),
    url("../images/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 5px;
}

hr {
  border: 1px solid white;
  width: 80%;
  opacity: 0.6;
}

header h1 {
  font-size: 128px;
  opacity: 0.6;
}

header h2 {
  opacity: 0.6;
}

.content-one {
  margin-top: 150px;
  color: #543200;
  text-align: center;
}

.content-one h3 {
  font-size: 56px;
  width: 55%;
  margin: auto;
}

.mountain-img {
  margin-top: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.shadow-bottom {
  height: 300px;
  box-shadow: 0px 23px 20px -20px rgba(0, 0, 0, 0.45);
}

.top-spots {
  height: 800px;
}

.best-pics {
  height: 300px;
  box-shadow: 0px -23px 20px -20px rgba(0, 0, 0, 0.45);
}

.footer-info {
  background-image: linear-gradient(
      rgba(84, 50, 0, 0.75),
      rgba(84, 50, 0, 0.75)
    ),
    url("../images/footer-background.png");
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
